body
{
	font-family: Helvetica,Arial,sans-serif;
}

#nav
{
	background: none;
	box-shadow: 0 0 10px #2e365b;
	border: none;
	border-radius: 0;
}

#link li a
{
	color: #2e365b;
	font-size: 1.2em;
}

#link li a:hover
{
	background: none;
	color: #f7403c;
}

#text
{
	border-bottom: 2px solid #2e365b;
	text-align: justify;
}

#intro
{
	font-size: 1.7em;
	color: #2e365b;
}

#work
{
	font-size: 3em;
	color: #2e365b;
	text-align: center;
}

#web
{
	border-bottom: 2px solid #2e365b;
}

.web_hover
{
	opacity: 0.5;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	margin-bottom: 50px;
	max-height: 247px;
}

.web_hover:hover
{
	opacity: 1;
}

#contact
{
	color: #2e365b;
	text-align: center;
}

.form-group label
{
	font-size: 1.2em;
}

.form-control
{
	border-radius: 0;
	border: 1px solid #86c9f6;
}

#inputName
{
	height: 50px;
}

#inputEmail
{
	height: 50px;
}

#inputText
{
	height: 100px;
}

#button
{
	border-radius: 0;
	margin-bottom: 10px;
}

#sent
{
	padding-left: 15px;
}

#find
{
	padding-left: 15px;
}

.socialMedia
{
	margin-bottom: 300px;
	opacity: 0.5;
	margin-top: 10px;
}

.socialMedia:hover
{
	opacity: 1;
}

.modal-content
{
	border: none;
	border-radius: 0;
	color: #2e365b;
}

.modal-header
{
	border-bottom: 1px solid #2e365b;
}

.gitImg
{
	padding-right: 20px;
}

.modalTitle
{
	display: inline;
}

.webDesc
{
	font-size: 1.3em;
	line-height: 1.5em;
	text-align: justify;
	padding-bottom: 20px;
	border-bottom: 1px solid #2e365b;
}

#resume
{
	color: #2e365b;
	text-align: center;	
}


@media (max-width: 1199px) {
	#logo
	{
		float: left;
	}
}

@media (max-width: 991px) {
	#web div a img
	{
	}
}