body
{
	font-family: Helvetica,Arial,sans-serif;
}

.hidden
{
	display: none;
}

#nav
{
	background: none;
	box-shadow: 0 0 10px #2e365b;
	border: none;
	border-radius: 0;
}

#link li a
{
	color: #2e365b;
	font-size: 1.2em;
}

#link li a:hover
{
	background: none;
	color: #f7403c;
}

#text
{
	border-bottom: 2px solid #2e365b;
	text-align: justify;
	font-size: 1.7em;
	color: #2e365b;
}

.sectionTitle
{
	color: #2e365b;
	text-align: center;
	margin: 0;
}

#web
{
	border-bottom: 2px solid #2e365b;
}

.web_hover
{
	opacity: 0.5;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	margin-bottom: 50px;
	max-height: 247px;
}

.web_hover:hover
{
	opacity: 1;
}

.form-group label
{
	font-size: 1.2em;
}

.form-control
{
	border-radius: 0;
	border: 1px solid #86c9f6;
}

#inputName, #inputEmail
{
	height: 50px;
}

#inputText
{
	height: 100px;
	resize: none;
}

#button
{
	border-radius: 0;
	margin-bottom: 10px;
}

#sent
{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 0;
	color: #ef433f;
	border-bottom: 2px solid #2e365b;
}

#find
{
	padding-left: 15px;
}

.socialMedia
{
	margin-bottom: 300px;
	opacity: 0.5;
	margin-top: 10px;
}

.socialMedia:hover
{
	opacity: 1;
}

.modal-content
{
	border: none;
	border-radius: 0;
	color: #2e365b;
}

.modal-header
{
	border-bottom: 1px solid #2e365b;
}

.gitImg
{
	padding-right: 20px;
}

.modalTitle
{
	display: inline;
}

.webDesc
{
	font-size: 1.3em;
	line-height: 1.5em;
	text-align: justify;
	padding-bottom: 20px;
	border-bottom: 1px solid #2e365b;
}

#resume
{
	color: #2e365b;
	text-align: center;	
}


@media (max-width: 1199px) {
	#logo
	{
		float: left;
	}
}

@media (max-width: 991px) {
	#web div a img
	{
	}
}

#resumeModal
{
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	text-transform: uppercase;
}

#modalHead h1
{
	text-align: center;
	font-size: 30pt;
	line-height: 0.85;
	font-weight: 900;
	padding: 0 0 20px 0;
	word-spacing: 7.23in;
	letter-spacing: 14px;
}

#modalContact
{
	font-size: 10pt;
	letter-spacing: 1px;
	font-weight: 700;
	text-align: center;
}

.offset
{
	padding-left: 10px;
}

.modalHeader
{
	width: 100%;
	font-size: 14pt;
	margin: 10px 0 10px 0;
	letter-spacing: 4px;
	display: table;
	padding: 0;
	font-weight: 800;
}

.modalHeader:before
{
	content: "\00a0";
	border-top: 1px solid #2e365b;
	position: relative;
	top: 15px;
	display: table-cell;
}

.modalHeader span
{
	width: 1px;
	white-space: nowrap;
	display: table-cell;
	box-sizing: border-box;
	padding: 0 15px 0 19px;
	text-align: center;
	font-style: normal;
}

.modalHeader:after
{
	content: "\00a0";
	border-top: 1px solid #2e365b;
	height: 0;
	position: relative;
	top: 15px;
	display: table-cell;
}

.item
{
	text-align: left;
	line-height: 1em;
	padding: 5px 20px;
}

.jobTitle, .projectTitle, .eduTitle
{
	letter-spacing: 3px;
	font-size: 12pt;
	font-weight: 900;
	text-align: left;
	display: block;
	padding: 0;
	margin: 0 auto;
}

.jobEmployer, .jobLocation, .eduSchool, .eduLocation
{
	font-size: 10pt;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-align: left;
	position: relative;
}

.jobLocation:before, .eduLocation:before
{
	content: '//';
	position: relative;
	letter-spacing: -1px;
	box-sizing: border-box;
	padding: 0 10px 0 4px;
	font-weight: 300;
}

.jobDesc, .projectDesc
{
	white-space: pre-line;
	text-transform: none;
	padding: 0;
	margin: 0 auto;
	font-size: 9pt;
	text-align: justify;
	line-height: 1.4em;
	font-weight: 500;
}

.modal-footer
{
	border: none;
}

.modalButton
{
	border-radius: 0;
}